:root{
  --swiss-blue: #168BD0;
  --swiss-grey: #E2E3DD;
  --swiss-red: #EE3531;
}

.App {
  background-color: var(--swiss-grey);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  background-color: var(--swiss-red);
  color: var(--swiss-grey);
}


.signal-group {
  background: var(--swiss-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
}

.signal {
  display: flex;
  flex-direction: column;
}

.light-on {
  background: var(--swiss-red);
}

.light-off {
  background: var(--swiss-grey);
}

.light-shape {
  border-radius: 50%;
  height: 36px;
  margin: 8px;
  width: 36px;
}


.b-start {
  background: var(--swiss-grey);
  border: 1px solid var(--swiss-red);
  color: var(--swiss-red);
}

.b-launch {
  background: var(--swiss-red);
  border: 2px solid var(--swiss-red);
  color: var(--swiss-grey);
}

.button {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 16px;
}

.App-footer {
  color: var(--swiss-red);
}